<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-J8W9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="header">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://yourcompany.sendsafely.com/js/external/SendSafelyZendesk.min.js"></script>
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'logo'}}">
    {{/link}}
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      <a class="submit-a-request" href="/hc/en-gb/requests/new?ticket_form_id=360000355937">Raise a ticket with Support</a>
    </nav>
    {{user_info}}
  </div>
</header>
